# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.treaningProject.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mohammed_Machine\Documents\GitHub\mobile-app-development\treaningProject\.idea\.idea.treaningProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
