# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.lapThree.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mohammed_Machine\Documents\GitHub\mobile-app-development\lapThree\.idea\.idea.lapThree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
