# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.hideShowImgForSS.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mohammed_Machine\Desktop\hideShowImgForSS\.idea\.idea.hideShowImgForSS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
